<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="backToHome()" >
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="log-out" size="large" class="white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container ion-margin">
    <div *ngIf="newProfilLogoDataUrl"
      class="outer"
      style="background-image: url('{{newProfilLogoDataUrl}}');"
      >
          <div class="inner"(click)="insertProfilLogo()">
            <ion-icon name="camera" class="camera-icon"></ion-icon>
        </div>
      </div>
      <div *ngIf="!newProfilLogoDataUrl"
      class="outer"
      style="background-image: url(../../assets/images/profile.svg);"
      >
        <div class="inner"(click)="insertProfilLogo()">
            <ion-icon name="camera" class="camera-icon"></ion-icon>
        </div>
      </div>
  </div>
  <div>
    <form [formGroup]="editForm">
      <ion-toolbar>
        <ion-item>
          <ion-label position="stacked">Fullname</ion-label>
          <div class="flex">
            <p *ngIf="!editFullname">{{currentUser.fullname}}</p>
            <ion-input
            *ngIf="editFullname"
            style="margin:7px 0px"
            formControlName="fullname"
            ></ion-input>
            <ion-note slot="error" *ngIf="
              invalidTouchedDirtyFormControl('fullname')
              && fullname.errors?.['required']">
              Fullname field is required
            </ion-note>
          </div>
        </ion-item>
        <ion-buttons slot="secondary">
          <ion-button (click)="editInput('fullname')">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Icon Buttons</ion-title>
      </ion-toolbar>

      <ion-toolbar>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <div class="flex">
            <p *ngIf="!editEmail">{{currentUser.email}}</p>
            <ion-input
            *ngIf="editEmail"
            formControlName="email"
            ></ion-input>
            <ion-note slot="error" *ngIf="
              invalidTouchedDirtyFormControl('email')
              && email.errors?.['required']">
              email field is required
            </ion-note>
            <ion-note slot="error" *ngIf="
              invalidTouchedDirtyFormControl('email')
              && email.errors?.['pattern']">
              Enter a valid email
            </ion-note>
          </div>
        </ion-item>
        <ion-buttons slot="secondary">
          <ion-button (click)="editInput('email')">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Icon Buttons</ion-title>
      </ion-toolbar>

      <ion-toolbar>
        <ion-item>
          <ion-label position="stacked">Phone number</ion-label>
          <div class="flex">
            <p *ngIf="!editPhone">{{currentUser.phone}}</p>
            <ion-input
            *ngIf="editPhone"
            formControlName="phone"
            ></ion-input>
            <ion-note slot="error" *ngIf="
              invalidTouchedDirtyFormControl('phone')
              && phone.errors?.['required']">
              phone field is required
            </ion-note>
            <ion-note slot="error" *ngIf="
              invalidTouchedDirtyFormControl('phone')
              && phone.errors?.['pattern']">
              Enter a valid phone number
            </ion-note>
          </div>
        </ion-item>
        <ion-buttons slot="secondary">
          <ion-button (click)="editInput('phone')">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Icon Buttons</ion-title>
      </ion-toolbar>
      <ion-item lines="none">
        <ion-button [disabled]="editForm.invalid" (click)="saveUserInfo()" color="success">Save</ion-button>
        <ion-button color="danger">Log Out</ion-button>
      </ion-item>
    </form>
  </div>
</ion-content>
