<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/tabs/meetings">
      <ion-back-button default-href=""></ion-back-button>
    </ion-buttons>
    <ion-title>Create Meeting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="wrapper">
    <form [formGroup]="createMeetingForm" (submit)="createMeeting()">
      <ion-card class="form-wrapper">
        <ion-card-content>

          <ion-label>Title</ion-label>
          <ion-item class="ion-margin-bottom">
            <ion-icon name="create-outline" slot="end"></ion-icon>
            <ion-input type="text" placeholder="Enter a title" formControlName="title"></ion-input>
          </ion-item>
          
          <ion-label>Description</ion-label>
          <ion-item class="ion-margin-bottom">
            <ion-icon name="document-text-outline" slot="end"></ion-icon>
            <ion-textarea placeholder="Enter a description" formControlName="description"></ion-textarea>
          </ion-item>
          
          <ion-label>Start date: </ion-label>
          <ion-item id="open-modal" class="ion-margin-bottom">
            <ion-icon name="calendar-outline" slot="end"></ion-icon>
            <ion-datetime-button datetime="datetime1" color="tertiary"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime1" color="tertiary" formControlName="startDate"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

          
          <ion-label>End date: </ion-label>
          <ion-item id="open-modal" class="ion-margin-bottom ion" >
            <ion-icon name="calendar-outline" slot="end"></ion-icon>
            <ion-datetime-button datetime="datetime2" color="tertiary"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime2" color="tertiary" formControlName="endDate"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          
          <ion-label>Location</ion-label>
          <ion-item class="ion-margin-bottom">
            <ion-icon name="location-outline" slot="end"></ion-icon>
            <ion-input type="text" placeholder="Enter a location" formControlName="location"></ion-input>
          </ion-item>

          <ion-toolbar>
            <ion-button color="tertiary" slot="start" (click)="createMeetingForm.reset()">
              Reset
              <ion-icon slot="end" name="refresh-circle"></ion-icon>
            </ion-button>
            <ion-button type="submit" color="success" slot="end">
              Create
              <ion-icon slot="end" name="add-circle"></ion-icon>
            </ion-button>
          </ion-toolbar>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>

