<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button >
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar color="primary" placeholder="Search" cancel-button-text="Custom Cancel" show-clear-button="always"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar color="success" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="all" [(ngModel)]="taskListSegment">
      <ion-segment-button value="My_tasks" selected="true">
        <ion-label>My tasks</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Assigned_tasks">
        <ion-label>Assigned tasks</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" horizontal="end">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-list>
    <ion-list-header>
      <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-modal id="example-modal" #modal>
    <ng-template>
      <div class="wrapper">
        <h1>Dialog header</h1>
        <ion-list lines="none">
          <ion-item button="true" detail="false" (click)="modal.dismiss()">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Item 1</ion-label>
          </ion-item>
          <ion-item button="true" detail="false" (click)="modal.dismiss()">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Item 2</ion-label>
          </ion-item>
          <ion-item button="true" detail="false" (click)="modal.dismiss()">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Item 3</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>

  <ion-list>
    <ion-item lines="none">
      <ion-card color="success">
        <ion-card-header>
          <ion-row class="ion-justify-content-end ion-align-items-end">
            <ion-icon (click)="this.statusModel = !this.statusModel;" name="ellipsis-vertical-outline"></ion-icon>
          </ion-row>
          <ion-card-title>Task Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
        <ion-row class="ion-justify-content-end ion-align-items-end">
          <ion-button class="card_button">Status</ion-button>
        </ion-row>
      </ion-card>
    </ion-item>
    <ion-item lines="none">
      <ion-card color="success">
        <ion-card-header>
          <ion-row class="ion-justify-content-end ion-align-items-end">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-row>
          <ion-card-title>Task Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
        <ion-row class="ion-justify-content-end ion-align-items-end">
          <ion-button class="card_button">Status</ion-button>
        </ion-row>
      </ion-card>
    </ion-item>
    <ion-item lines="none">
      <ion-card color="success">
        <ion-card-header>
          <ion-row class="ion-justify-content-end ion-align-items-end">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-row>
          <ion-card-title>Task Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
        <ion-row class="ion-justify-content-end ion-align-items-end">
          <ion-button class="card_button">Status</ion-button>
        </ion-row>
      </ion-card>
    </ion-item>
    <ion-item lines="none">
      <ion-card color="success">
        <ion-card-header>
          <ion-row class="ion-justify-content-end ion-align-items-end">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-row>
          <ion-card-title>Task Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
        <ion-row class="ion-justify-content-end ion-align-items-end">
          <ion-button class="card_button">Status</ion-button>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
  </ion-tabs>
</ion-content>
