ion-content{
  --ion-background-color:#EEEEF2;
}

ion-card{
  --ion-background-color:white;
}

ion-header{
  background-color : #5260ff;
}

ion-select {
  padding: 0;
  margin: 0;
}


#searchbar {
  --border-radius: 8px;
  --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  --placeholder-color: white;
  --icon-color: white;
  --color: white;
  --background: rgba(255, 255, 255, 0.1);
}

ion-title {
  font-size: 24px;
  font-weight: bold;
  color: #EEEEF2;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
}

ion-tab-button{
  font-size: 13px;
  --background-focused: #5260ff;
  --color-selected: #5260ff;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-bottom: 1px;
  --margin-left:0px;
  --margin-right:0px;
  max-width:100px;
  border-top: #5260ff;
  ion-icon{
      font-size: 67.5px;
  }
}

ion-fab{
  bottom: 40px;
}

.card_button{
  margin-right: 3%;
  margin-bottom: 2%;
}

