<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="backToHome()" >
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar id="searchbar" placeholder="Search" ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="all" [(ngModel)]="taskListSegment">
      <ion-segment-button value="My_tasks" selected="true">
        <ion-label>My tasks</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Assigned_tasks">
        <ion-label>Assigned tasks</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" slot="center">
  <ion-fab slot="fixed" horizontal="end">
    <ion-fab-button color="primary" routerLink="/create-task">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-buttons slot="start">
    <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
      <ion-select-option value="pending">Pending</ion-select-option>
      <ion-select-option value="in_progress">In progress</ion-select-option>
      <ion-select-option value="completed">Completed</ion-select-option>
    </ion-select>
  </ion-buttons>

  <ion-list *ngIf="loaded">
    <div *ngFor="let i of [1,2,3,4]">
      <ion-item>
        <ion-label>
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 45%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 90%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <!-- [color]="task.status === 'completed' ? 'success' : 'warning'" -->
  <ion-list *ngIf="taskListSegment === 'My_tasks' && !loaded">
    <ion-item lines="none" *ngFor="let task of tasks, let i=index">
      <ion-card style="width: 100%;">
        <ion-card-header>
          <ion-row class="ion-justify-content-end ion-align-items-end">
            <ion-icon id="click-trigger-{{i}}" name="ellipsis-vertical-outline"></ion-icon>
            <ion-popover trigger="click-trigger-{{i}}" triggerAction="click">
              <ng-template>
                <ion-content>
                  <ion-item>
                    <ion-icon name="toggle-outline" slot="start"></ion-icon>
                    Change status
                  </ion-item>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-row>
          <ion-row style="justify-content: space-between; align-items: center;">
            <ion-card-title>{{ task.title }}</ion-card-title>
            <ion-card-subtitle>{{ task.status }} </ion-card-subtitle>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          {{ task.description }}
        </ion-card-content>
        <ion-row class="ion-justify-content-end ion-align-items-end" *ngIf="task.status === 'completed'">
          <div class="ion-padding">
            <ion-icon color="warning" *ngFor="let item of stars;let i = index" [name]="rating <= i? 'star-outline' :'star' " size="large" (click)="review(i)"></ion-icon>
          </div>          
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="taskListSegment === 'Assigned_tasks' && !loaded">
    <ion-item lines="none" *ngFor="let task of assignedTasks, let i=index">
      <ion-card style="width: 100%;">
        <ion-card-header>
          <ion-row class="ion-justify-content-end ion-align-items-end">
            <ion-icon id="trigger-{{i}}" name="ellipsis-vertical-outline"></ion-icon>
            <ion-popover trigger="trigger-{{i}}" triggerAction="click">
              <ng-template>
                <ion-content>
                  <ion-item color="danger">
                    <ion-icon name="trash" slot="start"></ion-icon>
                    Delete
                  </ion-item>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-row>
          <ion-row style="justify-content: space-between; align-items: center;">
            <ion-card-title>{{ task.title }}</ion-card-title>
            <ion-card-subtitle>{{ task.status }}</ion-card-subtitle>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          {{ task.description }}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <!-- <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>
