<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="backToHome()" >
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar id="searchbar"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="log-out" size="large" class="white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title ion-padding">
    <h1 class="ion-text-center">{{clubDetails.name}} Club</h1>
  </div>
  <div class="members-count ion-text-center ion-margin">
    <div>
      <h1>{{countClubCells}}</h1>
      <p>Cells</p>
    </div>
    <div>
      <h1>1</h1>
      <p>Leaders</p>
    </div>
    <div>
      <h1>{{countClubMembers}}</h1>
      <p>Members</p>
    </div>
  </div>
  <!-- cells -->
  <div *ngFor="let cell of cellsWithUsersList,let cellIndex=index">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{cell.cell.name}}</ion-card-title>
        <ion-card-subtitle>{{cell.cell.description}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="--padding:0px">
        <ion-list>
          <ion-item *ngFor="let member of cell.users,let memberIndex=index" style="--padding-start: 0;">
            <ion-avatar slot="start">
              <img [src]='member.photoUrl === "" ? "../../assets/images/profile.svg" : member.photoUrl' alt=""/>
            </ion-avatar>
            <ion-label>
              {{member.fullname}}
            </ion-label>
            <br>
            <ion-card-subtitle>{{member.role}}</ion-card-subtitle>
            <!-- <ion-button *ngIf="member.role !== 'admin' && currentMember.role==='admin'" fill="clear" id="click-trigger-{{cellIndex}}{{memberIndex}}"> -->
            <ion-button *ngIf="adminControl(member,currentMember)" fill="clear" id="click-trigger-{{cellIndex}}{{memberIndex}}">
              <ion-icon name="ellipsis-vertical-outline" color="dark"></ion-icon>
            </ion-button>
            <!-- <ion-popover *ngIf="member.role !== 'admin' && currentMember.role==='admin'"  trigger="click-trigger-{{cellIndex}}{{memberIndex}}" triggerAction="click"> -->
            <ion-popover *ngIf="adminControl(member,currentMember)"  trigger="click-trigger-{{cellIndex}}{{memberIndex}}" triggerAction="click">
              <ng-template>
                <ion-content>
                  <ion-item (click)="defineRole(member.uid,member.fullname,cell.cell.name)">
                    <ion-icon name="add-circle" slot="start"></ion-icon>
                    define role
                  </ion-item>
                  <ion-item (click)="addToCell(member.uid,'change')">
                    <ion-icon name="person-add" slot="start"></ion-icon>
                    change cell
                  </ion-item>
                  <ion-item (click)="removeFromCell(member.uid)">
                    <ion-icon name="person-remove" slot="start"></ion-icon>
                    Remove
                  </ion-item>
                  <ion-item color="danger" (click)="excludeMember(member.uid,member.fullname)">
                    <ion-icon name="trash" slot="start"></ion-icon>
                    exclude
                  </ion-item>
                </ion-content>
              </ng-template>
            </ion-popover>
            <ion-item
              *ngIf="cell.cell.name!=='Steering'
              && cell.users.length===0
              && currentMember.role==='admin'"
            >
              <ion-label>
                There is no members yet !
              </ion-label>
            </ion-item>
          </ion-item>
        </ion-list>
        <ion-button
          *ngIf="cell.cell.name!=='Steering'
          && cell.users.length===0
          && currentMember.role==='admin'"
          color="danger"
          slot="end"
          size="small"
          (click)="alertDeleteCell(cell.cell.id,cell.cell.name)"
        >
          delete
          <ion-icon name="trash" slot="end"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <!--  -->
  <!-- <div *ngIf="membersWithoutCell.length !== 0"> -->
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Others</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let member of membersWithoutCell, let index=index" style="--padding-start: 0;">
            <ion-avatar slot="start">
              <img [src]='member.photoUrl === "" ? "../../assets/images/profile.svg" : member.photoUrl' alt=""/>
            </ion-avatar>
            <ion-label>
              {{member.fullname}} <span *ngIf="member.role==='admin'" >(admin)</span>
            </ion-label>
            <br>
            <ion-card-subtitle>{{member.role}}</ion-card-subtitle>
            <!-- <ion-button *ngIf="member.role !== 'admin' && currentMember.role==='admin'" fill="clear" id="click-trigger-{{cellIndex}}{{memberIndex}}"> -->
            <ion-button *ngIf="adminControl(member,currentMember)" fill="clear" id="click-trigger-{{index}}">
              <ion-icon name="ellipsis-vertical-outline" color="dark"></ion-icon>
            </ion-button>
            <!-- <ion-popover *ngIf="member.role !== 'admin' && currentMember.role==='admin'"  trigger="click-trigger-{{cellIndex}}{{memberIndex}}" triggerAction="click"> -->
            <ion-popover *ngIf="adminControl(member,currentMember)"  trigger="click-trigger-{{index}}" triggerAction="click">
              <ng-template>
                <ion-content>
                  <ion-item (click)="addToCell(member.uid,'add')">
                    <ion-icon name="person-add" slot="start"></ion-icon>
                    add to cell
                  </ion-item>
                  <ion-item color="danger">
                    <ion-icon name="trash" slot="start"></ion-icon>
                    exclude
                  </ion-item>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab *ngIf="currentMember.role==='admin'" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="createCell()" color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
