<!-- <ion-content>
  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
  </ion-tabs>
</ion-content> -->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="tasks">
      <ion-icon name="clipboard"></ion-icon>
      Tasks
    </ion-tab-button>
    <ion-tab-button tab="profil">
      <ion-icon name="person"></ion-icon>
      Profil
    </ion-tab-button>
    <ion-tab-button tab="Notifications">
      <ion-icon name="Notifications"></ion-icon>
      Notifications
    </ion-tab-button>
    <ion-tab-button tab="members">
      <ion-icon name="people"></ion-icon>
      Members
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



