<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-button routerLink="/profil" >
        <ion-icon slot="icon-only" name="person" size="large" class="white"></ion-icon>
      </ion-button> -->
      <ion-avatar routerLink="/profil" style="width:40px;height:40px">
        <img [src]="profilPhotoSrc" alt="" style="border: 1.5px solid #EEEEF2;"/>
      </ion-avatar>
    </ion-buttons>
    <ion-searchbar (keyup)="searchClub()" [(ngModel)]="searchClubText" placeholder="Search..." id="searchbar"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out" size="large" class="white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none" *ngFor="let club of searchClubs, let i=index">
      <ion-card class="club-card">
        <div style="display: flex;">
          <ion-avatar class="ion-margin" (click)="clubDetails(club)">
            <img [src]="club.logoUrl"/>
          </ion-avatar>
          <ion-card-header (click)="clubDetails(club)">
            <ion-card-title>{{club.name}}</ion-card-title>
            <ion-card-subtitle>category : {{club.category}}</ion-card-subtitle>
            <ion-card-subtitle *ngIf="club.role!=='no-role'">{{club.role}}</ion-card-subtitle>
          </ion-card-header>
        </div>
        <ion-button fill="clear" id="click-trigger-{{i}}">
          <ion-icon name="ellipsis-vertical-outline" color="dark"></ion-icon>
        </ion-button>
        <ion-popover trigger="click-trigger-{{i}}" triggerAction="click">
          <ng-template>
            <ion-content>
              <ion-item *ngIf="club.role === 'admin'" (click)="copyClubCode(club.id,club.name)">
                <ion-icon name="copy" slot="start"></ion-icon>
                Copy code
              </ion-item>
              <ion-item *ngIf="club.role === 'admin'" (click)="deleteClub(club.id,club.name)" color="danger">
                <ion-icon name="trash" slot="start"></ion-icon>
                Delete
              </ion-item>
              <ion-item *ngIf="club.role !== 'admin'" (click)="leaveClub(club.name,club.id)" color="danger">
                <ion-icon name="log-out" slot="start"></ion-icon>
                Leave
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-card>
    </ion-item>

  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="createClub()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
