<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-searchbar id="searchbar"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="log-out" size="large" class="white" (click)="logout()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none">
      <ion-card class="club-card">
        <div style="display: flex;">
          <ion-avatar class="ion-margin">
            <img src="../../assets/images/default.svg"/>
          </ion-avatar>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </div>
        <ion-button fill="clear" id="click-trigger-1">
          <ion-icon name="ellipsis-vertical-outline" color="dark"></ion-icon>
        </ion-button>
        <ion-popover trigger="click-trigger-1" triggerAction="click">
          <ng-template>
            <ion-content>
              <ion-item>
                <ion-icon name="copy" slot="start"></ion-icon>
                Copy code
              </ion-item>
              <ion-item color="danger">
                <ion-icon name="log-out" slot="start"></ion-icon>
                Leave
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-card>
    </ion-item>
    <ion-item lines="none">
      <ion-card class="club-card">
        <div style="display: flex;">
          <ion-avatar class="ion-margin">
            <img src="../../assets/images/default.svg"/>
          </ion-avatar>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </div>
        <ion-button fill="clear" id="click-trigger-2">
          <ion-icon name="ellipsis-vertical-outline" color="dark"></ion-icon>
        </ion-button>
        <ion-popover trigger="click-trigger-2" triggerAction="click">
          <ng-template>
            <ion-content>
              <ion-item>
                <ion-icon name="copy" slot="start"></ion-icon>
                Copy code
              </ion-item>
              <ion-item color="danger">
                <ion-icon name="log-out" slot="start"></ion-icon>
                Leave
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-card>
    </ion-item>
    <ion-item lines="none">
      <ion-card class="club-card">
        <div style="display: flex;">
          <ion-avatar class="ion-margin">
            <img src="../../assets/images/default.svg"/>
          </ion-avatar>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </div>
        <ion-button fill="clear" id="click-trigger-3">
          <ion-icon name="ellipsis-vertical-outline" color="dark"></ion-icon>
        </ion-button>
        <ion-popover trigger="click-trigger-3" triggerAction="click">
          <ng-template>
            <ion-content>
              <ion-item>
                <ion-icon name="copy" slot="start"></ion-icon>
                Copy code
              </ion-item>
              <ion-item color="danger">
                <ion-icon name="log-out" slot="start"></ion-icon>
                Leave
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="createClub()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
