<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/home">
      <ion-back-button default-href=""></ion-back-button>
    </ion-buttons>
    <ion-title>Create Club</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="wrapper">
    <div class="container ion-margin">
      <div *ngIf="newClubLogoDataUrl"
      class="outer"
      style="background-image: url('{{newClubLogoDataUrl}}');"
      >
          <div class="inner"(click)="insertClubLogo()">
            <ion-icon name="camera" class="camera-icon"></ion-icon>
        </div>
      </div>
      <div *ngIf="!newClubLogoDataUrl"
      class="outer"
      style="background-image: url(../../assets/images/default.svg);"
      >
        <div class="inner"(click)="insertClubLogo()">
            <ion-icon name="camera" class="camera-icon"></ion-icon>
        </div>
      </div>
    </div>
    <form [formGroup]="createClubForm">
      <ion-card class="form-wrapper">
        <ion-card-content>
          <ion-item>
            <ion-icon name="at-circle" slot="start"></ion-icon>
            <ion-input
              placeholder="Club name"
              type="text"
              formControlName="name"
              >
            </ion-input>
            <ion-note slot="error" *ngIf="
              invalidTouchedDirtyFormControl('name')
              && name.errors?.['required']">
              Club name field is required
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-icon name="rocket" slot="start"></ion-icon>
            <ion-textarea
              placeholder="Activity description"
              formControlName="description"
              >
            </ion-textarea>
            <ion-note slot="error" *ngIf="
              invalidTouchedDirtyFormControl('description')
              && description.errors?.['required']">
              Description field is required
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-icon name="star" slot="start"></ion-icon>
            <ion-select
              formControlName="category"
              interface="popover"
              placeholder="Select category">
              <ion-select-option value="Computing">Computing</ion-select-option>
              <ion-select-option value="Sports">Sports</ion-select-option>
              <ion-select-option value="Cultural">Cultural</ion-select-option>
              <ion-select-option value="Social">Social</ion-select-option>
              <ion-select-option value="Volunteer">Volunteer</ion-select-option>
              <ion-select-option value="Leisure">Leisure</ion-select-option>
            </ion-select>
            <ion-note slot="error" *ngIf="
              invalidTouchedDirtyFormControl('category')
              && category.errors?.['required']">
              Description field is required
            </ion-note>
          </ion-item>
          <ion-toolbar>
            <ion-button color="tertiary" slot="start" (click)="createClubForm.reset()">
              Reset
              <ion-icon slot="end" name="refresh-circle"></ion-icon>
            </ion-button>
            <ion-button color="success" slot="end"
            [disabled]="createClubForm.invalid || !newClubLogoDataUrl"
            (click)="createClub()">
              Create
              <ion-icon slot="end" name="add-circle"></ion-icon>
            </ion-button>
          </ion-toolbar>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
